body {
    color: rgb(255, 155, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #343434;
    font-family: Arial, sans-serif;
}

#resultTable {
    color: rgb(0, 0, 0);
}

#levelSelector {
    font-size: 20px;
    text-shadow: 0px 0px 2.5px rgb(255, 177, 90);
}

table {
    width: 100%;
    max-width: 300px;
    background-color: #e3f4ff;
    border-radius: 10px;
    background: #959595;
    padding: 1rem 1rem;
    overflow-wrap: break-word;
    position: relative;
    font-size: 25px;
}
th,
td {
    padding: 7px;
    text-align: center;
    height: 36px;
}
button {
    /* display: inline-block; */
    padding: 8px 15px;
    background-color: rgb(255, 155, 40);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin: 27px 0;
    font-size: 20px;
    font-weight: bold;
}
button:hover {
    color: rgb(230, 230, 230);
    background-color: rgb(190, 102, 0);
}

.tooltip {
    position: relative;
}

.tooltip .tooltipText {
    font-size: 14px;
    width: 150px;
    background-color: #454545;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border: 3px solid rgb(255, 155, 40);
    border-radius: 10px;
    position: absolute;
    bottom: 90%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltipAgain {
    font-size: 14px;
    width: 80px;
    background-color: #454545;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border: 3px solid rgb(255, 155, 40);
    border-radius: 10px;
    position: absolute;
    bottom: -90%;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

.tooltip:hover .tooltipAgain {
    opacity: 1;
}

@keyframes flash {
    0% {
        opacity: 1;
        font-size: 30px;
    }
    50% {
        opacity: 0.2;
        font-size: 25px;
    }
    100% {
        opacity: 1;
        font-size: 30px;
    }
}

.flash {
    animation: flash 0.5s 5;
    font-size: 30px;
    font-weight: bold;
    color: rgb(240, 0, 0);
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
}

#treeSVG {
    padding: 10rem 1rem;
    overflow-wrap: break-word;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -37%);
    z-index: -1;
}
